    <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1>Lo que necesitas<br/>
          y donde lo necesitas.</h1>  
          <form class="form-inline row" role="form">
            <div class="form-group col-lg-6">
              <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Buscar"> -->
              <select class="form-control">
                <option value="default">Oficio</option>
                <option>Oficio 1</option>
                <option>Oficio 2</option>
              </select>
            </div>
            <!-- <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button> -->
            <select class="form-control">
              <option value="default">Lugar</option>
              <option>Ciudad</option>
              <option>Colonia</option>
            </select>
          </form>         
        </div><!-- /col-lg-6 -->
        <div class="col-lg-6">
          <img class="img-responsive" src="img/7oficios-front.png" alt="">
        </div><!-- /col-lg-6 -->
        
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /headerwrap -->
   
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Lo que necesitas<br/>y donde lo necesitas.</h1>
        <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4">
        <img src="assets/img/ser01.png" width="180" alt="">
        <h4>1 - Browser Compatibility</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/img/ser02.png" width="180" alt="">
        <h4>2 - Email Campaigns</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/img/ser03.png" width="180" alt="">
        <h4>3 - Gather Your Notes</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Our Awesome Team.<br/>Design Lovers.</h1>
        <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4">
        <img class="img-circle" src="assets/img/pic1.jpg" width="140" alt="">
        <h4>Michael Robson</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="assets/img/pic2.jpg" width="140" alt="">
        <h4>Pete Ford</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="assets/img/pic3.jpg" width="140" alt="">
        <h4>Angelica Finning</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->